.table-container {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 15px 5px;
  background-color: black;
  border-radius: 10%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.table-title {
  color: white;
  font-size: 60px;
  text-align: center;
  line-height: 55px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .table-container {
    width: 50vw;
  }
  .table-title {
    font-size: 6vw;
  }
}
